/* reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Utility styling */

.container {
    margin: auto;
    max-width: 1100px;
}

.lead {
    font-size: 20px;
    margin-bottom: 20px;
}

.emp-text {
    color: coral;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #333;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: coral;
}

.bg-dark {
    background-color: #333;
}

.bg-light {
    background-color: #f4f4f4;
    color: #333
}

.bg-primary {
    background-color: coral;
}

.clr {
    clear: both;
}


/* Body general styling */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: #260C0C; */
    color: #fff;
    line-height: 1.7em;
}

.navbar {
    background-color: #333;
    color: #fff;
    overflow: auto;
    /* padding: 20px; */
}

.navbar .logo {
    float: left;
    color: #fff;
    text-decoration: none;
    padding: 20px;
}

.navbar ul {
    float: right;
    list-style: none;
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 20px;
}

.navbar ul li a:hover {
    color: coral;
    background: #444;
}

.navbar ul li a.current {
    color: coral;
    background: #444;
}

.showcase {
    background-image: url("../images/showcase.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.showcase-content {
    text-align: center;
    padding-top: 170px;
}

.showcase-content h1 {
    font-size: 60px;
    padding-bottom: 20px;
    line-height: 1.8em;
}

.info {
    height: 400px;
}

.info-img {
    background-image: url('../images/photo-1.jpg');
    float: left;
    min-height: 100%;
    width: 40%;
    background-size: cover;
}

.info-text {
    float: right;
    width: 60%;
    height: 100%;
    padding: 20px 50px;
    text-align: center;
    /* line-height: 1.8em; */
    overflow: hidden;
}

.info-text h3 {
    font-size: 30px;
    padding: 40px 10px;
}

.info-text p {
    padding: 10px;
}

.box {
    float: left;
    width: 33.3%;
    padding: 20px 10px;
    height: 200px;
    text-align: center;
}

.box i {
    padding-bottom: 20px;
    font-size: 50px;
}

.main-footer {
    display: inline-block;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 20px;
    /* margin-top: 30px; */
}

#about-showcase {
    height: 300px;
    text-align: left;
}

#about-showcase .about-text {
    float: left;
    width: 60%;
    padding: 30px;
    height: 100%;
}

#about-showcase .about-text h1 {
    padding-top: 30px;
    padding-bottom: 20px;
}

#about-showcase .about-image img {
    width: 40%;
    height: 100%;
    border-radius: 50%;
}

#testimonials {
    /* height: 600px; */
    /* height: 100%; */
    background-image: url('../images/test-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#testimonials h1 {
    color: #fff;
    font-size: 50px;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 40px;
}

#testimonials .testimonial {
    margin-top: 40px;
    padding: 10px 10px 20px 10px;
    opacity: 0.9;
    border-radius: 10px;
}

#testimonials .testimonial img {
    float: left;
    width: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

#contact-us {
    color: #333;
    /* max-width: 300px; */
    margin: 20px 30px;
    padding-bottom: 30px;
}

#contact-us h1 {
    padding-bottom: 20px;
}

#contact-us label,
#contact-us input,
#contact-us textarea {
    display: block;
    width: 100%;
    line-height: 1.8em;
    padding-top: 20px;
}

#contact-us input {
    border: 1px solid #ddd;
}

#contact-us textarea {
    border: 1px solid #ddd;
    height: 200px;
}

#contact-us #reset {
    float: right;
    margin-right: 0;
    padding: 10px 40px;
}

#contact-us #submit {
    float: left;
    margin-left: 0;
    padding: 10px 40px;
}