:root {
    --primary-color: #c72727;
    --secondary-color: #f99500;
    --light-color: #f3f3f3;
    --dark-color: #333;
    --max-width: 1100px;
    --sport-color: #f99500;
    --ent-color: #a66bbe;
    --tech-color: #009cff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p {
    padding: 0.5rem 0;
}

html,
body {
    font-family: 'Lato', sans-serif;
    line-height: 1.5rem;
    background-color: var(--light-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Staatliches', cursive;
    margin-bottom: .55rem;
    line-height: 1.3rem;
}

img {
    width: 100%;
}

.btn {
    display: inline-block;
    color: #fff;
    padding: 0.7rem 2rem;
    background-color: var(--dark-color);
    border: none;
}

.btn-primary {
    background-color: var(--primary-color);
}

.btn-secondary {
    background-color: var(--secondary-color);
}

.btn-light {
    background-color: var(--light-color);
}

.btn-block {
    display: block;
    width: 100%;
    text-align: center;
}

.btn:hover {
    opacity: 0.8;
}

.main-nav {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 0.5rem 0;
}

.main-nav .container {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 6fr 3fr 1fr;
    align-items: center;
}

.main-nav .container ul {
    list-style: none;
    display: flex;
    justify-items: end;
}

.main-nav .container ul li {
    padding: 0.75rem;
    font-weight: bold;
}

.main-nav .container ul li.current {
    background-color: var(--primary-color);
}

.main-nav .container ul li.current a {
    color: var(--light-color);
}

.main-nav .container ul li:hover {
    background-color: var(--light-color);
    cursor: pointer;
}

.main-nav .container ul li:hover a {
    color: var(--dark-color);
}

.container .social i {
    padding-right: 1rem;
    color: #969696;
}

.container #logo {
    width: 180px;
}


/* Showcase styling */

.showcase {
    height: 50vh;
    background: #444;
    position: relative;
    display: grid;
}

.category-sports,
.category-ent,
.category-technology {
    display: inline-block;
    font-size: 0.75rem;
    padding: 0.2rem 0.5rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    background-color: var(--sport-color);
}

.category-ent {
    background-color: var(--ent-color);
}

.category-technology {
    background-color: var(--tech-color);
}

.showcase::before {
    content: '';
    background: url('../images/featured.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    height: 100%;
    width: 100%;
}

.showcase>.container {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 2rem;
}

.showcase>.container a {
    margin-top: 1rem;
}

.category {
    color: #fff;
    z-index: 1;
}

.showcase-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
}


/* Home articles */

#home-articles .container {
    max-width: var(--max-width);
    margin: auto;
}

#home-articles .container h2 {
    padding: 1rem;
    text-transform: uppercase;
}

#home-articles .container h3 a {
    color: #000;
}

#home-articles .container .articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    align-content: center;
}

.card {
    background-color: #fff;
    padding: 1rem;
}

#home-articles .container .articles .article:first-child,
#home-articles .container .articles .article:last-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1/span 2;
    grid-gap: 1rem;
    align-items: center;
}

#home-articles .container .articles .article:last-child {
    grid-column: 2/span 2;
}

.bg-primary {
    background-color: var(--primary-color);
    color: #fff;
}

.bg-secondary {
    background-color: var(--secondary-color);
    color: #fff;
}

.bg-dark {
    background-color: var(--dark-color);
    color: #fff
}


/* Footer section */

#main-footer {
    margin-top: 2rem;
    background-color: var(--dark-color);
}

#main-footer .container {
    max-width: var(--max-width);
    margin: auto;
    color: #fff;
    padding: 2rem;
}

#main-footer .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

#main-footer .footer-container img {
    width: 150px;
}

#main-footer .footer-container>*:last-child {
    grid-column: 1/span 4;
    background-color: #444;
    padding: 1rem;
    text-align: center;
    font-size: 0.8rem;
}

#main-footer .footer-container ul {
    list-style: none;
}

#main-footer .footer-container ul li a {
    color: #fff;
}

#main-footer .footer-container ul li {
    border-bottom: #444 1px dotted;
    padding: 0.2rem 0;
}

#main-footer .footer-container ul li a:hover {
    /* background-color: #444; */
    color: var(--primary-color)
}

#main-footer .footer-container input[type='email'] {
    padding: 0.5rem 0.5rem;
    display: inline-block;
    width: 90%;
}

#main-footer .footer-container input[type='email']::placeholder {
    font-family: 'Lato', sans-serif;
}

#main-footer .footer-container input[type='submit'] {
    padding: 0.5rem 0;
    display: inline-block;
    width: 90%;
    margin-top: 1rem;
    cursor: pointer;
}

#main-footer .footer-container input[type='submit'] {
    font-family: 'Lato', sans-serif;
}

#about-us .container,
#article-details .container {
    max-width: var(--max-width);
    margin: auto;
    margin-top: 1rem;
    padding: 0 2rem;
}

.page-container {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-gap: 1rem;
    row-gap: 1rem;
}

.page-container main {
    grid-row: 1 / span 3;
}

.page-container main h2 {
    font-size: 3rem;
    margin: 1rem 0;
}

#article-details .meta {
    background-color: #eee;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#article-details .meta div {
    margin-top: 0.8rem;
}

.list {
    list-style: none;
}

.list li a {
    color: #000;
}

.list li {
    border-bottom: 1px #ccc dotted;
    line-height: 1.5rem;
}